<ion-view view-title="बदि खबरैन">

<ion-header-bar class="bar-stable">
    <h1 class="title">Badi News</h1>
    </ion-header-bar>
  <ion-content class="has-header padding" ng-controller="BadiKhabareinCtrl">

      <br>

        <div>
        <i class = "icon icon ion-ios-calendar-outline"></i>
        {{date}}
        </div>

      <br>

      <div class="item item-divider">
      <i class="ion-images"></i> 
      News Preview
    </div>



    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="image in allImages" ng-src="{{image.img}}" ng-click="showImages($index)" class="image-list-thumb"/>
      </ion-scroll>
    </a>


    <br><br>

   <!--  <div class="button-bar">
    <button class="button button-outline button-positive" ng-click="playVideo()">Play a video</button>
  </div> -->

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="news in allBadiNews" href="#/app/badiKhabarein/{{news.$id}}">
                <img ng-src="{{news.img}}">

        {{news.snippet}}
        <!-- {{news.detail}} -->
        <br>
           <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>



