

<ion-view view-title="Cricket खबर">
  <ion-content>
<br>
       <div>
        <i class = "icon icon ion-ios-calendar-outline"></i>
       {{date}}
       </div>

<br>


    <ion-list>
      <img src="{{allCricketNews[1].img}}" width="150px" height="100px">


      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="news in allCricketNews" href="#/app/cricket/{{news.$id}}">
                <img ng-src="{{news.img}}">
      
        
        {{news.snippet}}

        <!-- {{news.detail}} -->
        <br>
        	{{date}}
           
        
           <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>


