<h1> hi there</h1>

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>


    
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Slide Left to Collapse</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>

        <ion-item menu-close href="#/app/badiKhabarein">
          Badi Khabarein
        </ion-item>

        <ion-item menu-close href="#/app/tazaKhabarein">
          Taza Khabarein
        </ion-item>

        <ion-item menu-close href="#/app/rajya">
          Rajya
        </ion-item>


        <ion-item menu-close href="#/app/rashtriya">
          Rashtriya
        </ion-item>

        <ion-item menu-close href="#/app/cricket">
          Cricket
        </ion-item>

        <ion-item menu-close href="#/app/manoranjan">
          Manoranjan
        </ion-item>

        <ion-item menu-close href="#/app/duniya">
          Duniya
        </ion-item>

         <ion-item menu-close href="#/app/tech">
          Tech gyan
        </ion-item>

        <ion-item menu-close href="#/app/kaarobar">
          Kaarobar
        </ion-item>
        

        <ion-item menu-close href="#/app/auto">
          Auto
        </ion-item>

        <ion-item menu-close href="#/app/khel">
          khel
        </ion-item>


        <ion-item menu-close href="#/app/zaraHatke">
          zara hatke
        </ion-item>

        <ion-item menu-close href="#/app/fashion">
          Fashion
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
