<ion-view view-title="Taza Khabarein">
  <ion-content>



    <ion-list>
      <img src="{{allTazaNews[0].img}}">


      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="news in allTazaNews" href="#/app/tazaKhabarein/{{news.$id}}">
                <img ng-src="{{news.img}}">
      
        
        {{news.snippet}}
        <h1>hi </h1>

        {{news.detail}}
        
           <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>