<ion-view view-title="Taza Khabarein">
  <ion-content>
<br>
       <div>
        <i class = "icon icon ion-ios-calendar-outline"></i>
       {{date}}
       </div>

<br>
      <img src="{{allTazaNews[0].img}}">
<br>

    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="news in allTazaNews" href="#/app/tazaKhabarein/{{news.$id}}">
                <img ng-src="{{news.img}}">
      
          
        {{news.snippet}}

        {{news.detail}}
        <br>
           {{date}}     

        
           <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>